.rounded-circle {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  .rounded-circle img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
  }

 .header{
     margin-top: 60px;
 }


 .circular{
   background: rgba(3, 252, 182, 0.2);
   height: 20vh;
   border-radius: 0px 0px 50px 30px;
   z-index: 9;

 }

 div.home{
       width: 100%;
       height: 200px;
       position: relative;
       margin: 0px;
 }

 div.menu{
       width: 100%;
       height: 100%;
       position: absolute;
       /* top: 0;
       left: 0;
       opacity: 0.8; */

 }
